body {
    padding: 0;
    margin: 0;
    position: absolute;
}

header {
    background-color: #ecebeb;
    display: flex;
    justify-content: end;
    border-bottom: 2px solid lightgrey;
    align-items: center;
}

header > button {
    background-color: #ecebeb;
    border: none;
    font-weight: bolder;
    font-size: 2em;
}

button:hover {
    background-color: lightgrey;
}

a {
    background-color: #ecebeb;
    display: flex;
    flex-direction: column;
}

#menu {
    position: absolute;
    display: none;
    flex-direction: column;
    border: 2px solid lightgrey;
    top: 38px;
    right: 0;
    padding: 0.5em;
}

p {
    padding: .5em;
    display: none;
}